*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: teal;
}

.card_img{
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.card{
  border-radius: 10px;
}

.card_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_details_first h3{
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
}

.card_details_first h6{
  font-size: 18px;
  font-weight: 400;
  color: gray;
}


.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}